* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(90deg,#ec19ac, #ec19ac);
    color: white;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 150px;
    height: 200px;
    border-radius: 0;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid white;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.tagline {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffdd57;
}

.section {
    background: white;
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.section.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #ec19ac;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

img.sertifikat-foto {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 30px 20px;
    background-color: #ec19ac;
    color: white;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffdd57;
}
